
$gray-900: #231F20;
$gray-800: #373737;
$gray-700: #646464;
$gray-600: #b4b4b4;
$gray-500: #c4c4c4;
$gray-400: #e7e7e7;
$gray-300: #efefef;
$gray-200: #eeeeee;
$gray-100: #f2f2f2;
$primary: $black;
$cyan: rgb(0, 148, 255);
$yiq-contrasted-threshold: 200;
$yiq-text-dark: $black;
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1290px );
$border-color: $gray-500;
$border-radius: 0rem;
$border-radius-lg: 0rem;
$border-radius-sm: 0rem;
$link-hover-color: darken($link-color, 10%);
$emphasized-link-hover-darken-percentage: 20%;
$h1-font-size: 48px;
$h2-font-size: 38px;
$h3-font-size: 30px;
$h4-font-size: 18px;
$h5-font-size: 14px;
$h6-font-size: 12px;
$font-family-sans-serif: Lato;
$font-family-monospace: Lato;
$font-family-base: Lato;
$font-size-lg: $font-size-base * 1.125;
$input-color: $black;
$input-border-color: $gray-800;
$custom-control-label-disabled-color: $gray-500;
$input-placeholder-color: $gray-700;
$input-btn-padding-y: .975rem;
$input-btn-padding-x: 1rem;
$btn-padding-y: 16px;
$btn-padding-x: 40px;
$btn-font-family: $font-size-base;
$btn-font-size: $font-size-base*1.125;
$btn-line-height: 1.2;
$input-btn-line-height: 1.2;
$input-btn-font-size: $font-size-base*1.125;
$btn-padding-y-lg: 25px;
$btn-padding-x-lg: 100px;
$btn-font-size-lg: $font-size-base*1.125;
$btn-line-height-lg: 1.2;
$btn-link-disabled-color: $gray-700;
$card-border-color: rgba($gray-500,1);
$headings-font-weight: 900;